@model KsiegarniaOnline.Models.PublishHouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PublishHouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishHouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishHouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishmentYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishmentYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPublishHouse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
